body{
    background-color: rgb(112,67,103);
}
.dabba{
    background-color: rgb(38 37 40);
    
    width: 90%;
    height: 60%;
    margin: 20% auto 20%;
    font-family: 'Wendy One', sans-serif;
    color: white;
}
h2{
    text-align: left;
    font-size: 3rem;
    padding-top: 40px;
    padding-left: 5rem;
    
}
p{
    font-family:Helveti10a, sans-serif;
    padding-left: 5rem;
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 40px;
}
img{
    width: 730px;
    float: right;
    position: relative;
    bottom: 548px;
    right: 0px;
}